.gallery {
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  background-color: #f1fcff75;
}

.gallery_container {
  /* border: 3px dotted #afafafdd; */
  padding: 10px;
  border-radius: 25px;
  width: 100%;
  min-height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ffff;
}

.gallery_head {
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #bebebedd;
}

.gallery_head h2 {
  background: linear-gradient(to right, #2c3d59, #85f792);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.g_function_details {
  flex-direction: column;
}

.g_function_details > P {
  text-align: right;
}

.g_function_details > p:nth-child(1) {
  font-size: 16px;
  font-weight: 900;
}

.g_function_details > p:nth-child(2) {
  font-size: 10px;
}

.g_function_details > p:nth-child(3) {
  font-size: 10px;
}

.g_function_details > p:nth-child(4) {
  font-size: 10px;
}

.photos_wrapper {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 5px;
  gap: 25px;
}

.photo {
  border-radius: 7px;
  width: 250px;
  transition: 0.2s ease-in-out;
}

.photo:hover,
.function_image:hover .photo {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.2s ease-in-out;
  background-color: #ffff;
}

.function_image {
  position: relative;
}

.download_added_image {
  background-color: #0fce7e;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1;
  padding: 7px 15px;
  gap: 5px;
}

.download_added_image p {
  font-size: 11px;
  color: #ffff;
}

.function_image:hover .download_added_image {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.download_added_image:hover {
  background-color: #0fdd87c2;
}

.wrong_id {
  flex-direction: column;
  gap: 15px;
}

.re_enter {
  text-align: center;
  margin-top: 15px;
  color: blue;
  cursor: pointer;
}

.re_enter:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrong_id p {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #c00000;
}

.wrong_id p:hover {
  color: black;
}

.gratitude {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 799px) {
  .gallery_head {
    padding: 10px 5px;
  }

  .g_function_details > p:nth-child(1) {
    font-size: 11px;
  }

  .g_function_details > p:nth-child(2) {
    font-size: 9px;
  }

  .photos_wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 5px;
    gap: 15px;
  }

  .gratitude {
    font-size: 8px;
  }
}

@media (max-width: 449px) {
  .photo {
    width: 100% !important;
  }
}
