.home {
  min-height: 90vh;
  padding: 15px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: black;
  position: relative;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  filter: brightness(0.4);
}

.home_bg.visible {
  opacity: 1;
}

.home_bg.hidden {
  opacity: 0;
}

.home p:nth-child(1) {
  font-size: 3.1rem;
  font-weight: 700;
}

.home p:nth-child(2) {
  font-size: 1.5rem;
  color: #dbdbdb;
}

.function_inputs {
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.function_id_input_container {
  background-color: #ffff;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid gray;
}

.function_id {
  padding: 5px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.function_btn {
  margin: 5px 0px 0 0;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  color: #ffff;
  font-size: 14px;
}

.home_error {
  margin-top: 10px !important;
  font-size: 10px !important;
  color: red !important;
}

@media (max-width: 799px) {
  .home_bg {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: absolute;
    height: 100%;
    z-index: 0;
    filter: brightness(0.8);
    transition: 0.5s ease-in-out;
  }
}
