.contact {
  min-height: 80vh;
  flex-direction: column;
}

.contact h1 {
  margin: 20px 0;
  font-size: 26px;
  background: linear-gradient(to right, #2c3d59, #66e074);
  -webkit-background-clip: text;
  color: transparent;
}

.address {
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.address p {
  font-size: 12px;
}

.contact img {
  width: 250px;
  margin: 10px 0;
}

.contact_items {
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.contact_items_options {
  min-width: 300px;
  background: linear-gradient(to right, #2c3d59, #66e074);
  gap: 6px;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #f4f4f4;
}
